.customer-dashboard-container {
    min-height: 100vh;
    background-image: linear-gradient(to top, #fbc2eb 0%, #a6c1ee 100%);
    padding: 1.5rem;
}

.dashboard-content {
    max-width: 1900px;
    margin: 0 auto;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 70px;
}

.header h1 {
    font-size: 2.5rem;
    font-weight: bold;
    color: #2d3748;
}

.logout-btn {
    background-color: #f56565;
    color: white;
    padding: 1.2rem 1.8rem;
    border-radius: 8px;
    font-size: 1.3rem;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

.logout-btn:hover {
    background-color: #e53e3e;
}